<mat-grid-list cols="2" rowHeight="6:3">
  <mat-grid-tile>
    <div fxLayout="column">
      <div>
        <mat-form-field style="width: 100px">
          <mat-label>Filter time by</mat-label>
          <mat-select [(value)]="timeFilter" (selectionChange)="transformDataForLineChart()">
            <mat-option value="date">Date</mat-option>
            <mat-option value="month">Month</mat-option>
            <mat-option value="year">Year</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <ngx-charts-line-chart
          [view]="[700, 300]"
          scheme="vivid"
          [results]="lineData"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          legendTitle="Repos"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [roundDomains]="true"
          xAxisLabel="Time"
          yAxisLabel="Issue Count"
          [autoScale]="true"
          [showRefLines]="true">
        </ngx-charts-line-chart>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <ngx-charts-bar-vertical-stacked
      [view]="[700, 300]"
      [barPadding]="10"
      scheme="vivid"
      [results]="barData"
      [showDataLabel]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      legendTitle="State"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Repos"
      yAxisLabel="Issue Count">
    </ngx-charts-bar-vertical-stacked>
  </mat-grid-tile>
  <mat-grid-tile>
    <div fxLayout="column">
      <div>
        <mat-form-field style="width: 100px">
          <mat-label>Filter repo</mat-label>
          <mat-select [(value)]="repoFilter" (selectionChange)="transformDataForPieChart()">
            <mat-option *ngFor="let name of repoNames" [value]="name">
              {{name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <ngx-charts-pie-chart
          [view]="[700, 300]"
          scheme="vivid"
          [results]="pieData"
          [explodeSlices]="false"
          [legend]="true"
          legendTitle="State"
          [labels]="true">
        </ngx-charts-pie-chart>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div fxLayout="column">
      <div>
        <mat-form-field style="width: 100px">
          <mat-label>Filter repo</mat-label>
          <mat-select [(value)]="repoFilter" (selectionChange)="transformDataLabelForPieChart()">
            <mat-option *ngFor="let name of repoNames" [value]="name">
              {{name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <ngx-charts-pie-chart
          [view]="[700, 300]"
          scheme="neons"
          [results]="pieDataLabel"
          [explodeSlices]="false"
          [legend]="true"
          legendTitle="State"
          [labels]="true">
        </ngx-charts-pie-chart>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
