<div class="float-right col-6 no-wrap text-right" *ngIf="type_chart.name != 'reposPieChart'">
  <button mat-raised-button (click)="showIssuePieChart()">
    Show label in Pie chart
  </button>
  <button mat-raised-button class="table-option" (click)="showIssueColumnChart()">
    Show label in Column chart
  </button>
</div>
<mat-card>
  <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</mat-card>
