/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}
.sec1 {
      background: red;
      color:white;
      text-transform: uppercase
    }
    
    .sec2 {

    background: yellow;
    }
    
    .sec3 {
      background: blue;
      color:white;
      text-transform: uppercase
    }
