<div class="cont">
  <form class="box">
    <div id="header">
        <div id="cont-lock"><i class="material-icons lock">lock</i></div>
        <div id="bottom-head"><h1>Login</h1></div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="group">
          <input matInput class="inputMaterial" type="text" formControlName="username" required>
          <label>Username</label>
        </div>
        <div class="group">
          <input matInput class="inputMaterial" type="password" formControlName="password" required>
          <label>Password</label>
        </div>
        <button mat-button id="buttonlogintoregister" type="submit">Login</button>
    </form>
    <div id="footer-box">
      <p class="footer-text" (click)="loginGithub()">
          Login with Github
      </p>
    </div>
  </form>
</div>