.cont {
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  height: 100%;
  background-color: #cccccc; 
  background-position: center;
}

/* BOX LOGIN */
.box{
    position: relative;
    margin: auto;
    height: 410px;
    top: 320px;
    left: 0;
    z-index: 200;
    right: 0;
    width:400px;
    color:#666;
    border-radius: 3px;
    background: #FFF;
    margin-bottom: 100px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    overflow: hidden;
  }
  
  #header{
    background: rgb(78, 170, 245);
    position: relative;
    height: 100px;
    width: 100%;
    margin-bottom: 30px;
  }
  
  #cont-lock{
    width: 100%;
    height: 65px;
    position: relative;
  }
  
  .lock{
    text-align: center;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    line-height: 65px;
    font-size: 28px;
  }
  
  #bottom-head{
    position: relative;
    background: rgb(27, 150, 250);
    height: 35px;
  }
  
  #bottom-head::after{
    content: '';
    width: 0px;
    height: 0px;
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 7px solid white;
    border-right: 7px solid rgba(0,0,0,0);
    border-left: 7px solid rgba(0,0,0,0);
    border-top: 7px solid rgba(0,0,0,0);
  }
  
  .box h1{
    margin-left: 20px;
    margin-top: 0;
    font-size: 24px;
    font-weight: 300;
    color: #cfd8dc;
    line-height: 35px;
  }
  
  .box button{
    background: #cfd8dc;
    border:0;
    color: rgb(27, 150, 250);
    padding:10px;
    font-size: 16px;
    font-weight: 300;
    width:330px;
    margin:20px auto;
    display:block;
    cursor:pointer;
      -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 2px;
  }
  
  .box button:hover{
      background: #2196F3;
    color: #FFF;
      -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .box p{
    font-size:14px;
    text-align:center;
  }
  
  .group        { 
    position:relative; 
    margin-bottom: 35px; 
    margin-left: 40px;
  }
  
  .inputMaterial        {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }
  
  .inputMaterial:focus    { outline:none;}
  
  /* LABEL ======================================= */
  
  label          {
    color:#999; 
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  .inputMaterial:focus ~ label, .inputMaterial:valid ~ label    {
    top:-20px;
    font-size:14px;
    color: rgb(77, 150, 209);
  }
  
  #footer-box{
    width: 100%;
    height: 50px;
    background: #2196F3;
    position: absolute;
    bottom: 0;
  }

  .footer-text {
    color: #cfd8dc;
    cursor: pointer;
  }
  .footer-text:hover{
    color: #084b44;
  }
