<div>
  <div routerLink="/tram-layout" routerLinkActive="active">
    <a>
      <img src="/assets/images/back.jpeg" class="back">
    </a>
  </div>
  <div>
    <mat-form-field class="filter-repo">
      <mat-label>Filter Repo</mat-label>
      <mat-select ([value])="repoFilter" (selectionchange)="chaneChart()">
        <mat-option *ngFor="let name of repoNames" [value]="name">
          {{name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="cont">
    <div class="container">
      <div  *ngIf="chartReady">
        <mat-card style="height: 100%">
          <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType">
          </canvas>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div class="des">
    <b><i>The pie chart show label of an issue in the repositories</i></b>
  </div>
</div>