header {
  background: #3f51b5
}
mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  background: #2196F3;
  color: #fff;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.mat-form-field {
  font-size: 0.7em !important;
}
.mat-input-element:focus {
  background:  #5499c7
}
.logout-button {
  min-width: 47px;
}
.logout-icon {
  font-size: 1.6em;
  cursor: pointer;
  height: unset;
  width: unset;
}
.mat-card-image:first-child {
  margin-top: 0
}
.logo {
  text-align: center;
  /*background-color: red;*/
  background-image: url('/assets/images/logo-tma.png');
  background-size: contain;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 57px;
}
.sub-toolbar {
  
}