<mat-toolbar class="fixed">
  <mat-toolbar-row fxLayout="row" fxLayoutGap="10px">
    <div fxLayout="column" fxFlex="10" fxLayoutAlign="center center" routerLink="/repositories" class="logo">
      <img mat-card-image>
    </div>
    <div fxLayout="column" fxFlex="6">
      <div fxLayout="row">
        <!-- <div fxLayout="column">
          <a mat-button routerLink="/repositories" routerLinkActive="active">
            <b>Repositories</b>
          </a>
        </div> -->
        <div fxLayout="column">
          <a mat-button routerLink="/repos" routerLinkActive="active">
            <b>Repositories</b>
          </a>
        </div>
        <div fxLayout="column">
          <a mat-button routerLink="/tram-gg-chart" routerLinkActive="active">
            <b>Tram</b>
          </a>
        </div>
        <div fxLayout="column">
          <a mat-button routerLink="/nhu" routerLinkActive="active">
            <b>Nhu</b>
          </a>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="65">
    </div>
    <div fxLayout="column" fxFlex="20">
      <mat-form-field appearance="legacy">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Enter your commit">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div fxLayout="column">
      <div fxLayout="row">
        <div fxLayout="column">
          <button mat-icon-button routerLink="/homepage">
            <mat-icon class="logout-icon" data-toggle="tooltip" data-html="true" title="Profile" data-placement="bottom">
              perm_identity
            </mat-icon>
          </button>
        </div>
        <div fxLayout="column">
          <button mat-icon-button (click)="logout()">
            <mat-icon class="logout-icon" data-toggle="tooltip" data-html="true" title="logout" data-placement="bottom">
              exit_to_app
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
  <!-- <mat-toolbar-row fxLayout="row" class="sub-toolbar"></mat-toolbar-row> -->
</mat-toolbar>
