<div class="container new-discussion-timeline experiment-repo-nav  ">
  <div class="repository-content ">
    <div class="js-check-all-container" data-pjax="">
      <div id="show_issue" class="js-issues-results js-socket-channel js-updatable-content">
        <div class="gh-header js-details-container Details js-socket-channel js-updatable-content issue">
          <div class="gh-header-show ">
            <div class="gh-header-actions">
              <button type="button" class="btn btn-sm js-details-target">Edit</button>

              <a href="javascript:" class="btn btn-sm btn-primary float-right" >
                New issue
              </a>
            </div>

            <h1 class="gh-header-title">
              <span class="js-issue-title">
                {{issue_name}}
              </span>
              <span class="gh-header-number">#1</span>
            </h1>
          </div>

          <div class="gh-header-edit">
            <input class="form-control edit-issue-title js-quick-submit">
            <button class="btn" type="submit" >Save</button>
            <button class="btn-link js-details-target" type="button" >Cancel</button>   
          </div>
        <div class="TableObject gh-header-meta">
          <div class="TableObject-item">
            <span class="State State--green  " title="Status: Open">
              <svg height="16" class="octicon octicon-issue-opened" viewBox="0 0 14 16" version="1.1" width="14" aria-hidden="true"><path fill-rule="evenodd" d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path></svg> Open
            </span>
          </div>
          <div class="TableObject-item TableObject-item--primary">
              <a class="author text-bold link-gray" data-hovercard-type="user" data-hovercard-url="/hovercards?user_id=20431057" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" href="https://github.com/Wkbaf">Wkbaf</a>  opened this issue on Nov 14, 2017 · 1 comment

          </div>
        </div>


          <div style="visibility: hidden; display: none; height: 1px;" class="js-sticky-offset-scroll top-0 gh-header-sticky is-placeholder"></div><div class="js-sticky js-sticky-offset-scroll top-0 gh-header-sticky" aria-hidden="true" style="position: static; top: 0px; left: 153.5px; width: 980px;">
            <div class="sticky-content">
              <div class="d-flex flex-items-center flex-justify-between mt-2">
                <div class="d-flex flex-row flex-items-center">
                  <div class="mr-2 flex-shrink-0">
                    <span class="State State--green  " title="Status: Open">
                    <svg height="16" class="octicon octicon-issue-opened" viewBox="0 0 14 16" version="1.1" width="14" aria-hidden="true"><path fill-rule="evenodd" d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path></svg> Open
                    </span>
                  </div>
                  <div>
                    <h1 class="text-bold f5">
                      <a class="js-issue-title css-truncate css-truncate-target link-gray-dark" href="#" style="max-width: 48em">test</a>
                      <span class="gh-header-number text-gray-light pr-1">#1</span>
                    </h1>

                    <div class="meta text-gray-light">
                        <a class="author text-bold link-gray" data-hovercard-z-index-override="111" data-hovercard-type="user" data-hovercard-url="/hovercards?user_id=20431057" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" href="https://github.com/Wkbaf">Wkbaf</a>  opened this issue · 1 comment
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- hh -->
          <div class="timeline-comment-wrapper timeline-new-comment js-comment-container ">
            <div class="timeline-comment">
              <div class="js-previewable-comment-form previewable-comment-form write-selected">
                <div class="comment-form-head tabnav d-flex flex-justify-between  ">
                  <nav class="tabnav-tabs " role="tablist">
                    <button type="button" class="btn-link tabnav-tab write-tab js-write-tab selected  " role="tab" aria-selected="true">Write</button>
                    <button type="button" class="btn-link tabnav-tab preview-tab js-preview-tab " role="tab">Preview</button>
                  </nav>
                </div>
                <div class="comment-form-error js-comment-form-error" hidden="">
                  There was an error creating your Issue.
                </div>
                <div class="write-content js-write-bucket  upload-enabled   js-reaction-suggestion tooltipped tooltipped-ne tooltipped-no-delay tooltipped-align-left-1 hide-reaction-suggestion" data-reaction-markup="Would you like to leave a reaction instead?">
                  <textarea name="comment[body]" id="new_comment_field" placeholder="Leave a comment" aria-label="Comment body" class="form-control input-contrast comment-form-textarea js-comment-field js-paste-markdown js-task-list-field js-quick-submit js-size-to-fit js-session-resumable js-saved-reply-shortcut-comment-field" data-suggest-emoji="/autocomplete/emoji" data-suggest-issue="/suggestions/issue/273699125?repository=test_migration&amp;user_id=Wkbaf&amp;issue_suggester=1" data-suggest-mention="/suggestions/issue/273699125?repository=test_migration&amp;user_id=Wkbaf&amp;mention_suggester=1" required=""></textarea>
                    
                  <p class="drag-and-drop hx_drag-and-drop position-relative d-flex flex-justify-between">
                    <input accept=".gif,.jpeg,.jpg,.png,.docx,.gz,.log,.pdf,.pptx,.txt,.xlsx,.zip" type="file" multiple="" class="manual-file-chooser top-0 right-0 bottom-0 left-0 width-full ml-0 js-manual-file-chooser form-control" style="opacity: 0.01; min-height: 0;" aria-label="Attach files to your comment" id="fc-new_comment_field">
                    <span class="bg-gray-light position-absolute top-0 left-0 width-full height-full rounded-1" style="pointer-events: none;"></span>
                    <span class="position-relative pr-2" style="pointer-events: none;">
                      <span class="default">
                          Attach files by dragging &amp; dropping, selecting or pasting them.
                      </span>
                      <span class="loading">
                        <img alt="" src="test%20%C2%B7%20Issue%20%231%20%C2%B7%20Wkbaf_test_migration_files/octocat-spinner-32.gif" width="16" height="16"> Uploading your files…
                      </span>
                      <span class="error bad-file">
                        We don’t support that file type.
                        <span class="drag-and-drop-error-info">
                          <button type="button" class="btn-link manual-file-chooser-text">Try again</button> with a
                          GIF, JPEG, JPG, PNG, DOCX, GZ, LOG, PDF, PPTX, TXT, XLSX or ZIP.
                        </span>
                      </span>
                      <span class="error bad-permissions">
                        Attaching documents requires write permission to this repository.
                        <span class="drag-and-drop-error-info">
                          <button type="button" class="btn-link manual-file-chooser-text">Try again</button> with a GIF, JPEG, JPG, PNG, DOCX, GZ, LOG, PDF, PPTX, TXT, XLSX or ZIP.
                        </span>
                      </span>
                      <span class="error repository-required">
                        We don’t support that file type.
                        <span class="drag-and-drop-error-info">
                          <button type="button" class="btn-link manual-file-chooser-text">Try again</button> with a GIF, JPEG, JPG, PNG, DOCX, GZ, LOG, PDF, PPTX, TXT, XLSX or ZIP.
                        </span>
                      </span>
                      <span class="error too-big">
                        Yowza, that’s a big file
                        <span class="drag-and-drop-error-info">
                          <button type="button" class="btn-link manual-file-chooser-text">Try again</button> with a file smaller than 10MB.
                        </span>
                      </span>
                      <span class="error empty">
                        This file is empty.
                        <span class="drag-and-drop-error-info">
                          <button type="button" class="btn-link manual-file-chooser-text">Try again</button> with a file that’s not empty.
                        </span>
                      </span>
                      <span class="error hidden-file">
                        This file is hidden.
                        <span class="drag-and-drop-error-info">
                          <button type="button" class="btn-link manual-file-chooser-text">Try again</button> with another file.
                        </span>
                      </span>
                      <span class="error failed-request">
                        Something went really wrong, and we can’t process that file.
                        <span class="drag-and-drop-error-info">
                          <button type="button" class="btn-link manual-file-chooser-text">Try again.</button>
                        </span>
                      </span>
                    </span>
                    <span class="tooltipped tooltipped-nw" aria-label="Styling with Markdown is supported">
                      <a class="muted-link position-relative d-inline" href="https://guides.github.com/features/mastering-markdown/" target="_blank" data-ga-click="Markdown Toolbar, click, help" aria-label="Learn about styling with Markdown">
                        <svg class="octicon octicon-markdown v-align-bottom" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M14.85 3H1.15C.52 3 0 3.52 0 4.15v7.69C0 12.48.52 13 1.15 13h13.69c.64 0 1.15-.52 1.15-1.15v-7.7C16 3.52 15.48 3 14.85 3zM9 11H7V8L5.5 9.92 4 8v3H2V5h2l1.5 2L7 5h2v6zm2.99.5L9.5 8H11V5h2v3h1.5l-2.51 3.5z"></path></svg>
                      </a>
                    </span>
                  </p>
                </div>
                <div class="preview-content overflow-auto border-bottom ">
                  <input type="hidden" name="original-line" value="" class="js-original-line">
                  <input type="hidden" name="path" value="" class="js-path">
                  <input type="hidden" name="line" value="" class="js-line-number">
                  <div class="comment js-suggested-changes-container" data-thread-side="">
                    <div class="comment-body markdown-body js-preview-body">
                      <p>Nothing to preview</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-actions">
                <div id="partial-new-comment-form-actions" class="js-socket-channel js-updatable-content" >

              <button type="submit" class="btn btn-primary" data-disable-with="" data-disable-invalid="" disabled="disabled">
                Comment
              </button>

                  <button type="submit" name="comment_and_close" value="1" class="btn js-comment-and-button js-quick-submit-alternative" data-comment-text="Close and comment" data-disable-with="" formnovalidate="">
                <svg class="octicon octicon-issue-closed text-red" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7 10h2v2H7v-2zm2-6H7v5h2V4zm1.5 1.5l-1 1L12 9l4-4.5-1-1L12 7l-1.5-1.5zM8 13.7A5.71 5.71 0 0 1 2.3 8c0-3.14 2.56-5.7 5.7-5.7 1.83 0 3.45.88 4.5 2.2l.92-.92A6.947 6.947 0 0 0 8 1C4.14 1 1 4.14 1 8s3.14 7 7 7 7-3.14 7-7l-1.52 1.52c-.66 2.41-2.86 4.19-5.48 4.19v-.01z"></path></svg>
                <span class="js-form-action-text">Close issue</span>
              </button>
                </div>
              </div>
            </div>
          </div>

        <!-- <div id="discussion_bucket" class="clearfix">
          <div class="discussion-sidebar">
            <div id="partial-discussion-sidebar" class="js-socket-channel js-updatable-content" data-channel="issue:273699125" data-gid="MDU6SXNzdWUyNzM2OTkxMjU=" data-url="/Wkbaf/test_migration/issues/1/show_partial?partial=issues%2Fsidebar" data-project-hovercards-enabled="">
              <div class="discussion-sidebar-item sidebar-assignee js-discussion-sidebar-item">
                <details class="details-reset details-overlay select-menu js-select-menu js-dropdown-details hx_rsm" >
                  <summary class="text-bold discussion-sidebar-heading discussion-sidebar-toggle hx_rsm-trigger" aria-haspopup="menu" data-hotkey="a">
                    <svg class="octicon octicon-gear" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"></path></svg>
                    Assignees
                  </summary>
                </details>

                  <span class="css-truncate js-issue-assignees">
                  No one—assign yourself
                </span>
              </div>

              <div class="discussion-sidebar-item sidebar-labels js-discussion-sidebar-item">
                <details class="details-reset details-overlay select-menu js-select-menu js-dropdown-details hx_rsm label-select-menu">
                  <summary class="text-bold discussion-sidebar-heading discussion-sidebar-toggle hx_rsm-trigger" aria-haspopup="menu" data-hotkey="l">
                    <svg class="octicon octicon-gear" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"></path></svg>
                    Labels
                  </summary>
                </details>

                <div class="labels css-truncate js-issue-labels">
                  <a class="sidebar-labels-style box-shadow-none width-full d-block IssueLabel v-align-text-top" style="background-color: #ee0701; color: #ffffff" href="javascript:"><span class="css-truncate-target" style="max-width: 100%">bug</span></a>
                  <a class="sidebar-labels-style box-shadow-none width-full d-block IssueLabel v-align-text-top" style="background-color: #ededed; color: #000000" href="javascript:"><span class="css-truncate-target" style="max-width: 100%">major</span></a>
                </div>
              </div>

              <div class="discussion-sidebar-item js-discussion-sidebar-item">
                <details class="details-reset details-overlay select-menu js-select-menu js-dropdown-details hx_rsm" >
                  <summary class="text-bold discussion-sidebar-heading discussion-sidebar-toggle hx_rsm-trigger" aria-haspopup="menu" data-hotkey="p">
                    <svg class="octicon octicon-gear" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"></path></svg>
                    Projects
                  </summary>
                </details>
                <span class="css-truncate sidebar-projects">
                    None yet
                </span>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>