<h2 class="padding-bottom">Repositories</h2>
<div class="Box" *ngIf="!chartReady">
  <div class="Box-header table-toolbar">
    <mat-form-field appearance="legacy" class="input-filter">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <a class="padding-left" (click)="showChart()">Issue chart in repository</a>
  </div>
  <div class="js-navigation-container js-active-navigation-container" >
    <div class="Box-row Box-row--focus-gray p-0 mt-0 js-navigation-item js-issue-row read navigation-focus">
      <div class="d-table table-fixed width-full Box-row--drag-hide position-relative">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" fxFill matSort matSortActive="issues" matSortDirection="desc" matSortDisableClear>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 
              <span class="link-gray-dark v-align-middle h5 js-navigation-open">Name</span> 
            </th>
            <td mat-cell *matCellDef="let element">
              <!-- Issue title column -->
              <div class="float-left p-2">
                <a class="v-align-middle h5 js-navigation-open" (click)="showIssues(element.name)">
                  {{element.name}}
                </a>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="link-gray-dark v-align-middle h5 js-navigation-open"> Created at </span>
            </th>
            <td mat-cell *matCellDef="let element">
              <!-- Issue title column -->
              <i class="v-align-middle muted-link pr-1">
                  {{element.created_at | date: 'longDate' }}
              </i>
            </td>
          </ng-container>
          <ng-container matColumnDef="issues">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >
              <span fxLayoutAlign="center center" class="link-gray-dark v-align-middle h5 js-navigation-open no-left-text-align"> No. Issue </span>
            </th>
            <td mat-cell *matCellDef="let element">
              <div fxLayoutAlign="center center">
                <a class="muted-link" aria-label="1 comment" (click)="showIssues(element.name)">
                  <span class="text-small text-bold" *ngIf="element.issues != null;else null_repo">{{element.issues.length}}</span>
                  <ng-template #null_repo >
                    <span class="text-small text-bold">0</span>
                  </ng-template>
                </a>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="option">
            <th mat-header-cell *matHeaderCellDef>
              <span class="float-right link-gray-dark v-align-middle h5 js-navigation-open"> Options </span>
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="float-right col-6 no-wrap text-right">
                <button mat-icon-button class="table-option" (click)="showIssuePieChart(element.name)">
                  <i class="fas fa-chart-pie"></i>
                </button>
                <button mat-icon-button class="table-option" (click)="showIssueColumnChart(element.name)">
                  <i class="far fa-chart-bar"></i>
                </button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>   
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>

  </div>
</div>
<div *ngIf="chartReady">
  <app-issues-chart></app-issues-chart>
</div>