table {
  background: #f6f8fa
}
.mat-table {
  transition: none !important;
  box-shadow: none !important;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  /*padding-left: unset;*/
  /*width: 1px;*/
}
th:nth-child(3) {
  width: 7em;
}
.mat-icon-button.table-option {
  width: 25px;
  height: 25px;
}
.no-left-text-align {
  text-align: unset;
}
.padding-bottom {
  padding-bottom: 1em;
}
.no-shadow {
  box-shadow: unset !important;
}
.table-toolbar {
  padding: 0px 0px 0px 24px !important;
  height: 3.5em;
}
.input-filter{
  width: 19em !important;
}
.padding-left {
  padding-left: 12px;
}
