* {
  font-family: Roboto,"Helvetica Neue",sans-serif !important;
  font-size: 14px;
  font-weight: 500;
}
.navbar {
  background: #7f8c8d;
  position: fixed;
  width: 100%;
  height: 100%;
}
.full-height {
  height: 100%;
}