<div fxLayout="column" fxFill fxLayoutGap="100px">
  <div fxLayout="row"></div><!-- <<<free flex -->
  <div fxLayout="row" fxLayoutAlign="center center" fxFill fxLayoutGap="20px">
    <div fxFlex="15" fxFlex.xs="55" fxLayout="column"></div><!-- <<<free flex -->
    <div fxFlex="15">
      <mat-card fxLayoutAlign="center center">
        <img mat-card-image src="https://cdn.pixabay.com/photo/2013/07/13/10/07/man-156584__340.png" alt="Photo of a Shiba Inu">
      </mat-card>
    </div>
    <div fxFlex="55">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="40" fxLayout="column" fxLayoutGap="20px">
          <mat-form-field appearance="outline">
            <mat-label>Name:</mat-label>
            <input matInput placeholder="Please enter the name">
            <mat-hint>Requied (*)</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email:</mat-label>
            <input matInput placeholder="Please enter the email">
            <mat-hint>Requied (*)</mat-hint>
          </mat-form-field>
        </div>
        <div fxFlex="40" fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>Email:</mat-label>
            <input matInput placeholder="Please enter the email">
            <mat-hint>Requied (*)</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Textarea"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxFlex></div> <!-- <<<free flex --> 
  </div>
</div>