.cont {
  margin-top: 80px;
  margin-left: 300px;
  margin-right: 250px;
  /* background-color: black; */
}
.img_chart {
  height: 200px;
  cursor: pointer;
  margin: 5px;
  text-align: center;;
}
.img_chart:hover{
  color: aliceblue;
}
.btn_pie_chart {
  margin-left: 22px;
  text-align: center;
}

table {
  width: 1100px;
  /* height: 100px;; */
}
.des {
  text-align: center;
  margin-right: 250px;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  color:  rgb(6, 93, 165);
}