<div  class="cont">
  <p class="des">THE REPOSITORIES CHARTS</p>
  <br />
  <br />
  <table>
    <tr>
      <td>
        <div class="repos_chart">
          <div routerLink="/tram-pie-chart" routerLinkActive="active">
            <a>
              <img src="/assets/images/pie.png" 
                  class="img_chart" 
                  data-toggle="tooltip" 
                  title="The repositories chart dependency issues">
            </a>
            <br />
            <button mat-button class="btn_pie_chart">
              The pie chart show an issues in the repositories 
            </button>
          </div>
        </div>
      </td>

      <td>
        <div class="repos_chart">
          <div routerLink="/tram-column-chart" routerLinkActive="active">
            <a>
              <img src="/assets/images/bar.png" 
                  class="img_chart"
                  data-toggle="tooltip" 
                  title="The column chart show issue state in the repositories">
            </a>
            <br />
            <button mat-button class="btn_pie_chart">
              The column chart show an issue state in the repositories
            </button>
          </div>
        </div>
      </td>

      <td>
        <div class="repos_chart">
          <div routerLink="/tram-tbrp" routerLinkActive="active">
            <a>
              <img src="/assets/images/table.png" 
                  class="img_chart"
                  data-toggle="tooltip" 
                  title="The repositories chart dependency issues">
            </a>
            <br />
            <button mat-button class="btn_pie_chart">
              The table chart show an issues detail in the repositories 
            </button>
          </div>
        </div>
      </td>
    </tr>


    <tr>
      <td>
        <div class="repos_chart">
          <div routerLink="/tram-pie-chart-label" routerLinkActive="active">
            <a>
              <img src="/assets/images/pie.png" 
                   class="img_chart"
                   data-toggle="tooltip" 
                   title="The pie chart show label of issue in the repositories">
            </a>
            <br />
            <button mat-button class="btn_pie_chart">
              The pie chart show label of an issue in the repositories
            </button>
          </div>
        </div>
      </td>

      <td>
        <div class="repos_chart">
          <div routerLink="/tram-layout" routerLinkActive="active">
          <a>
            <img src="/assets/images/table.png" 
                 class="img_chart"
                 data-toggle="tooltip" 
                 title="The table chart show label of issue detail">
          </a>
          <br />
          <button mat-button class="btn_pie_chart">
            The table chart show label of an issue detail in the repositories
          </button>
          </div>
        </div>
      </td>

      <td>      
        <div class="repos_chart">
          <div routerLink="/tram-line-chart" routerLinkActive="active">
          <a>
            <img src="/assets/images/line.png" 
                 class="img_chart"
                 data-toggle="tooltip" 
                 title="The line chart show issue state in the repositories">
          </a>
          <br />
          <button mat-button class="btn_pie_chart">
            The pie chart show label of an issue in the repositories
          </button>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
