<table>
   <tr>
      <td>
         <div class="cont">
            <div class="filter">
               <mat-form-field class="filter-repo">
                  <mat-label>Filter Repository</mat-label>
                     <mat-select [(value)]="repoFilter" (selectionChange)="changeRepoChart()">
                        <mat-option *ngFor="let name of reposNames" [value]="name">
                           {{name}}
                        </mat-option>
                     </mat-select>
               </mat-form-field>
            </div>    
            <google-chart #chart
               [title]="titleRepos"
               [type]="type"
               [data]="dataRepoChart"
               [columnNames]="columnNames"
               [options]="options"
               [width]="width"
               [height]="height">
            </google-chart>               
         </div>               
      </td>
      <td>
         <div class="cont">
            <div class="filter">
               <mat-form-field class="filter-repo">
                  <mat-label>Filter Repository</mat-label>
                     <mat-select [(value)]="issueFilter" (selectionChange)="changeIssueChart()">
                        <mat-option *ngFor="let name of reposNames" [value]="name">
                           {{name}}
                        </mat-option>
                     </mat-select>
               </mat-form-field>
            </div>    
            <google-chart #chart
               [title]="titleIssue"
               [type]="type"
               [data]="dataIssueChart"
               [columnNames]="columnNames"
               [options]="options"
               [width]="width"
               [height]="height">
            </google-chart>               
         </div>               
      </td>
   </tr>
</table>