<div> 
  <div routerLink="/tram-layout" routerLinkActive="active">
    <a>
      <img src="/assets/images/back.jpeg" class="back">
    </a>
  </div>

  <div class="cont">
    <table mat-table [dataSource]="dataRepos" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>
  
      <!-- all Issue -->
      <ng-container matColumnDef="issues">
        <th mat-header-cell *matHeaderCellDef>All Issue</th>
        <td mat-cell *matCellDef="let element">{{element.issues.length}}</td>
      </ng-container>
  
      <!--Date Column -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef> Create Date </th>
        <td mat-cell *matCellDef="let element">{{element.created_at}}</td>
      </ng-container>
      
      <!--format table-->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="des">
    <b><i>The table chart show an issues detail in the repositories</i></b>
  </div>
</div>