td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: unset;
  width: 1px;
}
.IssueLabel {
  color: #ffffff;
  margin-right: 5px !important;
}
.bug {
  background-color: #ee0701;
}
.enhancement {
  background-color: #a2eeef;
}
.help.wanted {
  background-color: #008672;
}
.good.first.issue {
  background-color: #7057ff;
}
.question {
  background-color: #d876e3;
}
.documentation {
  background-color: #0075ca;
}
.invalid {
  background-color: #e4e669
}
.wrapText {
  white-space: normal;
  word-wrap: break-word;
}
