<h2 class="padding-bottom">Issues</h2>
<div class="Box" *ngIf="!chartReady">
  <div class="Box-header table-toolbar">
    <div class="table-list-filters flex-auto">
      <div class="table-list-header-toggle states flex-auto pl-0">
        <mat-form-field appearance="legacy">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="js-navigation-container js-active-navigation-container" >
    <div class="Box-row Box-row--focus-gray p-0 mt-0 js-navigation-item js-issue-row read navigation-focus">
      <div class="d-table table-fixed width-full Box-row--drag-hide position-relative">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" fxFill matSort matSortActive="name" matSortDirection="desc" matSortDisableClear>
          <ng-container matColumnDef="No">
            <th mat-header-cell *matHeaderCellDef>
              <div class="float-left pt-2 pl-3">
                <span class="tooltipped tooltipped-e">
                  <svg class="octicon octicon-issue-opened open" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true">
                    <path fill-rule="evenodd" d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path>
                  </svg>
                </span>
              </div>
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="float-left pt-2 pl-3">
                <span class="tooltipped tooltipped-e">
                  <svg class="octicon octicon-issue-opened open" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true">
                    <path fill-rule="evenodd" d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path>
                  </svg>
                </span>
              </div>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 
              <span class="link-gray-dark v-align-middle h5 js-navigation-open padding-left">Name</span> 
            </th>
            <td mat-cell class="wrapText" *matCellDef="let element" layout-wrap>
              <!-- Issue title column -->
              <div class="float-left lh-condensed p-2">
                <!-- <a class="v-align-middle muted-link h4 pr-1" routerLink="/detail" queryParams="{record:element | json }">
                  {{element.name}}
                </a> -->
                <a class="v-align-middle h5 js-navigation-open" (click)="showIssueDetail(element.title)">
                  {{element.title}}
                </a>
                <span class="labels lh-default">
                    <a class="d-inline-block IssueLabel v-align-text-top {{label}}" href="javascript:" *ngFor="let label of element.labels">
                      {{label}}
                    </a>
                </span>
                <div class="mt-1 text-small text-gray">
                  <span class="opened-by">
                    #1
                      opened by
                      <a class="muted-link" title="Open issues created by Wkbaf" data-hovercard-type="user" data-hovercard-url="/hovercards?user_id=20431057" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" href="javascript:">Wkbaf</a>
                      
                  </span>
                </div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="link-gray-dark v-align-middle h5 js-navigation-open"> Created at </span>
            </th>
            <td mat-cell *matCellDef="let element">
              <i class="v-align-middle muted-link pr-1">
                {{element.created_at | date: 'longDate' }}
              </i>
            </td>
          </ng-container>
          <ng-container matColumnDef="option">
            <th mat-header-cell *matHeaderCellDef>
              <span class="float-right link-gray-dark v-align-middle h5 js-navigation-open"> Options </span>
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="float-right col-6 no-wrap pt-2 text-right">
                <button mat-icon-button class="table-option" (click)="showIssueDetail(element.title)">
                  <i class="fas fa-eye"></i>
                </button>
                <button mat-icon-button class="table-option">
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>   
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>

  </div>
</div>