table {
  width: 100%;
}
.click-chart {
  cursor: pointer;
}
.click-chart:hover {
  color: rgb(20, 98, 243);
}
.cont {
  margin: 20px;
  margin-left: 170px;
  margin-top: -78px;
}
.filter {
  left: 70%;
  width: 30%;
}