<mat-nav-list class="list-group">
  <a mat-list-item routerLink="/homepage" routerLinkActive="active">
    <mat-icon class="icon">dashboard</mat-icon>
    <span class="label">Dashboard</span>
  </a>
  <a mat-list-item routerLink="/chart" routerLinkActive="active">
    <mat-icon class="icon">table_chart</mat-icon>
    <span class="label">Committee</span>
  </a>
</mat-nav-list>
