.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}
.mat-list-item {
  z-index: 2;
  color: #eaecee;;
  background-color: #7f8c8d;
}
.mat-list-item {
  height: 5em !important;
  display: block;
}
.mat-list-item.active {
  color: #7f8c8d;
  background-color: #fff;
}
.mat-list-item-content {
  display: block;

}
.text-center {
  text-align: center;
}
.icon {
  display: inherit;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 19%;
  left: 39%;
  font-size: 45px;
}
.label {
  transform: translate(-50%, -50%);
  position: absolute;
  bottom: 5%;
  left: 50%;
}
