.des {
    margin-top: 15px;
    text-align: center;
    margin-right: 224px;
    font-size: 24px;
    color:  rgb(7, 80, 139);
}
.cont {
    margin-right: 274px;
    margin-left: 150px;
    margin-top: 0px;
    text-align: center;
}
.back {
    width: 80px;
}