<div>
  <div routerLink="/tram-layout" routerLinkActive="active">
    <a>
      <img src="/assets/images/back.jpeg" class="back">
    </a>
  </div>

  <div class="cont">
    <div class="container">
      <div  *ngIf="chartReady">
        <mat-card style="height: 100%">
          <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType">
          </canvas>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div class="des">
    <b><i>The pie chart show an issues in the repositories</i></b>
  </div>
</div>