<!-- <div class="tempt-wall"></div>
<div class="container">
  <div  *ngIf="chartReady">
    <mat-card style="height: 100%">
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions">
      </canvas>
    </mat-card>
    <ul>
      <li *ngFor="let d of data_text;">
        {{ d.name }}
      </li>
    </ul>
  </div>
</div> -->