<div fxLayout="column" fxFill fxLayoutGap="70px">
  <header style="background-color: lightblue; height: 200px">
    <app-toolbar></app-toolbar>
  </header>
<!--   <div fxLayout="row">
    <div fxFlex="100"  fxLayout="column">
      
    </div>
  </div> -->
  <div fxLayout="row" fxFill>
    <div fxFlex="15" fxFlex.xs="55"  fxLayout="column">
      <!-- <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let repo of repos">
          <a mat-button (click)="showRepo(repo.name)" >
            <b>{{repo.name}} </b> <i *ngIf="repo.issues != null"> - {{repo.issues.length}}</i>
          </a>
        </mat-list-item>
      </mat-list> -->
    </div>
    <div fxFlex="60" fxLayout="column" fxFill >
<!--       <div fxLayout="row" fxFill fxLayoutAlign="center center" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div> -->

      <router-outlet class="align-top">
        <div class="pagehead repohead instapaper_ignore readability-menu experiment-repo-nav  ">
          <div class="repohead-details-container clearfix">
            <h1 class="public ">
              <svg class="octicon octicon-repo" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path></svg>
              <span class="author" itemprop="author"><a class="url fn" routerLink="/repos">Wkbaf</a></span>
              <span class="path-divider">/</span>
              <strong itemprop="name">
                <a data-pjax="#js-repo-pjax-container" routerLink="/issues">{{repo_name}}</a>
              </strong>
              <span class="path-divider">/</span>
              <strong itemprop="name">
                <a data-pjax="#js-repo-pjax-container" href="javascript:">{{issue_name}}</a>
              </strong>
            </h1>
          </div> 
        </div>
      </router-outlet>
    </div>
  </div>
  <footer style="height: 40px;" fxLayoutAlign="center center">©Copyright 2019 TMA</footer>
</div>