<div fxLayout="column" fxFill>
  <header style="background-color: lightblue; height: 200px">
    <app-toolbar></app-toolbar>
  </header>
  <div fxLayout="row" fxFill>
    <div fxFlex="10" fxLayout="column">
      <!-- <app-navbar class="align-top"></app-navbar> -->
    </div>
    <div fxFlex="100" fxLayout="column" fxFill >
      <router-outlet class="align-top"></router-outlet>
    </div>
  </div>
  <footer style="height: 40px;" fxLayoutAlign="center center">©Copyright 2019 TMA</footer>
</div>
