
<div>
  <div routerLink="/tram-layout" routerLinkActive="active">
    <a>
      <img src="/assets/images/back.jpeg" class="back">
    </a>
  </div>
  <div>
    <mat-form-field class="filter-repo">
      <mat-label>Filter Repository</mat-label>
        <mat-select [(value)]="repoFilter" (selectionChange)="chanegChart()">
          <mat-option *ngFor="let name of repoNames" [value]="name">
            {{name}}
          </mat-option>
        </mat-select>
    </mat-form-field>
  </div>      
  <div style="display: block" class="cont">
    <div  *ngIf="chartReady">
      <mat-card style="height: 100%">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [chartType]="barChartType">
        </canvas>
      </mat-card>
    </div>
  </div>  

  <div class="des">
    <b><i>The pie chart show label of an issue in the repositories</i></b>
  </div>  
</div>
